.btn-black {
	background: black;
	padding: 15px 20px;
	border-radius: 20%;
	font-family: raleway;
	font-weight: lighter;
	color: #F0EEB1;
	text-align: center;
	font-size: 14px;

}

.btn-blue {
	color: white;
	background-color: rgb(139, 168, 222, 0.6);
	padding: 15px 20px;
	border-radius: 25%;
	font-family: raleway;
}